@media screen and (min-width: 767px)
{
h1, p
{
    text-align: center;
}

.contact__container
{
    
    width: 200px;
    height: 200px;
    padding: 15px;
    margin-bottom: 50px;
}

.contact__container img
{
    width: 150px;
}


.menu
{
    
    left: -40vw;
    width: 40vw;
}

.menu-icon
{transition: 450ms;}

.menu-icon:hover
{
    width: 40px;
}


}