* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 32px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  font-size: 26px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h3, h4, p, a {
  font-family: "Roboto", sans-serif;
}

p, a {
  font-size: 16px;
}

p {
  font-weight: 500;
  color: #B3B3B3;
  line-height: 2;
}

header {
  width: 100vw;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 3px #00000029;
          box-shadow: 0px 2px 3px #00000029;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  height: 60%;
}

body {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    padding: 0;
  }
}

p {
  line-height: 1.5;
}

.main {
  margin: 0 8vw;
}
@media only screen and (min-width: 768px) {
  .main {
    margin: 0 16vw;
  }
}
@media only screen and (min-width: 992px) {
  .main {
    width: 68vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .main__text {
    width: 52%;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .main__text h1 {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .main__text h1 {
    text-align: left;
  }
}
.main__text p {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .main__text p {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .main__text p {
    text-align: left;
  }
}
.main__img {
  margin: 30px 0;
}
@media only screen and (min-width: 768px) {
  .main__img {
    width: 80%;
    margin: 50px auto;
  }
}
@media only screen and (min-width: 992px) {
  .main__img {
    width: 47%;
    margin: 0;
  }
}
.main__img img {
  width: 100%;
}
.main__cta {
  width: 100%;
  height: 50px;
  color: #fff;
  font-weight: 500;
  background-color: #0E70ED;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  .main__cta {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .main__cta {
    width: 200px;
    position: absolute;
    top: 60vh;
  }
}
@media only screen and (min-width: 1780px) {
  .main__cta {
    top: 55vh;
  }
}

.perk {
  margin: 0 8vw;
  margin-top: 150px;
}
@media only screen and (min-width: 768px) {
  .perk {
    margin: 0 16vw;
  }
}
@media only screen and (min-width: 768px) {
  .perk {
    width: auto;
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media only screen and (min-width: 992px) {
  .perk {
    margin-top: 0;
  }
}
.perk__item {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .perk__item {
    width: 47%;
  }
}
@media only screen and (min-width: 992px) {
  .perk__item {
    width: 40%;
  }
}
.perk__item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.perk__item--title i {
  font-size: 35px;
  color: #0E70ED;
  margin-right: 10px;
}
.perk__item--paragraph {
  margin-top: 20px;
}

.process {
  margin: 0 8vw;
  margin-top: 150px;
}
@media only screen and (min-width: 768px) {
  .process {
    margin: 0 16vw;
  }
}
@media only screen and (min-width: 768px) {
  .process {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 768px) {
  .process h2, .process h3, .process p {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .process h2, .process h3, .process p {
    text-align: left;
  }
}
.process__text {
  margin-bottom: 50px;
}
@media only screen and (min-width: 992px) {
  .process__text h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .process__item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.process__item {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .process__item {
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 80px;
  }
}
@media only screen and (min-width: 992px) {
  .process__item {
    width: 28%;
    margin: 0;
  }
}
.process__item--number {
  width: 80px;
  height: 80px;
  background-color: #0E70ED;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.process__item--number h3 {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  font-size: 54px;
}
.process__item--title {
  margin: 20px 0;
}
@media only screen and (min-width: 992px) {
  .process__item--title {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .process__item--title h3 {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .process__item--paragraph p {
    text-align: center;
  }
}

.all {
  margin: 0 8vw;
  margin-top: 150px;
}
@media only screen and (min-width: 768px) {
  .all {
    margin: 0 16vw;
  }
}
@media only screen and (min-width: 768px) {
  .all {
    margin-top: 150px;
  }
}
.all__text {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .all__text {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .all__item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.all__item {
  width: 100%;
  height: auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #FAFAFA;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .all__item {
    width: 47%;
  }
}
@media only screen and (min-width: 992px) {
  .all__item {
    width: 30%;
  }
}
.all__item--title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.all__item--title__icon {
  min-width: 60px;
  min-height: 60px;
  background-color: #0E70ED;
  border-radius: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all__item--title__icon i {
  font-size: 40px;
  color: #fff;
}
.faq {
  margin: 0 8vw;
  margin-top: 150px;
}
@media only screen and (min-width: 768px) {
  .faq {
    margin: 0 16vw;
  }
}
@media only screen and (min-width: 768px) {
  .faq {
    margin-top: 150px;
  }
}
@media only screen and (min-width: 768px) {
  .faq__text {
    text-align: center;
  }
}
.faq__accordion {
  width: 100%;
  margin-top: 50px;
}
@media only screen and (min-width: 992px) {
  .faq__accordion {
    width: 80%;
    margin: 50px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.faq__accordion--item {
  width: inherit;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FAFAFA;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.faq__accordion--item__question {
  width: 100%;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
}
.faq__accordion--item__question h4 {
  text-align: left;
}
.faq__accordion--item__question i {
  font-size: 30px;
  color: #0E70ED;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.faq__accordion--item__question.active {
  margin-bottom: 20px;
}
.faq__accordion--item__question.active h4 {
  color: #0E70ED;
}
.faq__accordion--item__question.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.faq__accordion--item__answer {
  display: none;
}
.faq__accordion--item__answer.active {
  display: initial;
}

.final {
  margin-top: 150px;
  width: 100vw;
  padding: 100px 0;
  background-color: #1A1A1A;
}
.final__text {
  margin: 0 8vw;
}
@media only screen and (min-width: 768px) {
  .final__text {
    margin: 0 16vw;
  }
}
.final__text h2 {
  color: #fff;
}
.final__text p {
  margin: 20px 0 50px;
}
@media only screen and (min-width: 768px) {
  .final__text {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .final__text {
    width: 40vw;
    margin: 0 auto;
  }
}
.final a {
  width: 84vw;
  height: 50px;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background-color: #0E70ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  z-index: 1;
}
header img {
  height: 40px;
}

.main__text h1 {
  margin-bottom: 30px;
}
.main__text h1 span {
  color: #0E70ED;
}
.main__text p {
  margin-bottom: 50px;
  color: #404040;
}
.main__text p strong {
  color: #0E70ED;
}
.main__img {
  width: 70%;
  margin: 0 auto 50px;
}

.cta {
  margin-top: 100px;
}
.cta__text {
  margin: 0 8vw;
}
@media only screen and (min-width: 768px) {
  .cta__text {
    margin: 0 16vw;
  }
}
.cta__text h3 {
  margin-bottom: 20px;
}
.cta__text p {
  margin-top: 10px;
}
.cta form {
  height: auto;
  background-color: #fafafa;
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 8vw;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .cta form {
    margin: 0 16vw;
  }
}
.cta form label, .cta form input {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.cta form label {
  font-size: 14px;
  color: #404040;
  font-weight: 500;
}
.cta form input {
  height: 40px;
  margin: 5px 0 20px;
  border-radius: 8px;
  border: 2px solid #CCCCCC;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-weight: 500;
}
.cta form input::-webkit-input-placeholder {
  color: #B3B3B3;
  font-weight: 500;
}
.cta form input::-moz-placeholder {
  color: #B3B3B3;
  font-weight: 500;
}
.cta form input:-ms-input-placeholder {
  color: #B3B3B3;
  font-weight: 500;
}
.cta form input::-ms-input-placeholder {
  color: #B3B3B3;
  font-weight: 500;
}
.cta form input::placeholder {
  color: #B3B3B3;
  font-weight: 500;
}
.cta form input:active, .cta form input:hover {
  border: 2px solid #0E70ED;
}
.cta form input:valid {
  background-color: #0E70ED;
  border: none;
  color: white;
  background-image: url("/asset/icon/check.svg");
  background-repeat: no-repeat;
  background-position: 97% center;
}
.cta form button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #0E70ED;
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cta form button i {
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
}
.cta form button:disabled {
  background-color: #1A1A1A;
}
.cta form button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.cta form button:hover {
  background-color: #006eff;
}

.cta__form-confirm {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #0E70ED;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 1000ms ease-in;
  transition: all 1000ms ease-in;
}
.cta__form-confirm--modal {
  margin-bottom: 50px;
}
.cta__form-confirm--modal img {
  width: 80%;
  margin: 0 auto;
}
.cta__form-confirm--modal h2 {
  margin: 30px 0 10px;
}
.cta__form-confirm--modal p {
  color: #fff;
}
.cta__form-confirm--modal a {
  width: 100vw;
  height: 60px;
  font-weight: 600;
  color: #0E70ED;
  background-color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cta__form-confirm--modal.modalClose {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}