* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: "Barlow", sans-serif;
}

h3, h4, p, a {
  font-family: "Roboto", sans-serif;
}

p, a {
  font-size: 16px;
}

p {
  font-weight: 500;
  color: #B3B3B3;
  line-height: 2;
}

.lds-ellipsis {
  z-index: 1000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  background-color: white;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.lds-ellipsis img {
  width: 120px;
  position: relative;
  bottom: 60px;
}

.lds-ellipsis__container {
  display: contents;
}

.lds-ellipsis__container div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1a1a1a;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis__container div:nth-child(1) {
  left: 42vw;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis__container div:nth-child(2) {
  left: 42vw;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis__container div:nth-child(3) {
  left: 48vw;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis__container div:nth-child(4) {
  left: 55vw;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
header {
  width: 100vw;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 3px #00000029;
          box-shadow: 0px 2px 3px #00000029;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  height: 60%;
}

.menu {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -2px 3px #00000029;
          box-shadow: 0px -2px 3px #00000029;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .menu {
    height: 20vw;
    width: 60px;
    border-radius: 0 10px 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 2px 0px 3px #00000029;
            box-shadow: 2px 0px 3px #00000029;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 35%;
  }
}
.menu__section {
  width: 33.333%;
  margin: 0 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  .menu__section {
    margin: 0 16vw;
  }
}
@media only screen and (min-width: 992px) {
  .menu__section {
    margin: 0;
    height: 33.333%;
  }
}
.menu__section a {
  text-decoration: none;
}
.menu__section--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__section--item p {
  font-size: 11px;
}
.menu__section--item p, .menu__section--item i {
  color: #CCCCCC;
}
.menu__section--item i {
  font-size: 20px;
}
.menu__section .select p, .menu__section .select i {
  color: #0E70ED;
}

body {
  padding-top: 60px;
}

.main {
  width: 100vw;
  height: calc(100vh - 120px);
}
@media only screen and (min-width: 992px) {
  .main {
    height: calc(100vh - 60px);
  }
}
.main__carousel {
  height: inherit;
}
.main__carousel--item {
  width: 100%;
  height: inherit;
}
@media only screen and (min-width: 768px) {
  .main__carousel--item {
    width: 50vw;
  }
}
@media only screen and (min-width: 992px) {
  .main__carousel--item {
    width: 33.333vw;
  }
}
.main__carousel--item__img {
  position: absolute;
  padding: 0;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - 120px);
}
@media only screen and (min-width: 768px) {
  .main__carousel--item__img {
    width: 50vw;
  }
}
@media only screen and (min-width: 992px) {
  .main__carousel--item__img {
    width: 33.333vw;
    height: 100vh;
  }
}
.main__carousel--item .website {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(#1a1a1a)), url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-image: linear-gradient(rgba(26, 26, 26, 0), #1a1a1a), url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2Vic2l0ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
.main__carousel--item .logo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(#1a1a1a)), url("https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bG9nbyUyMGRlc2lnbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-image: linear-gradient(rgba(26, 26, 26, 0), #1a1a1a), url("https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bG9nbyUyMGRlc2lnbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
.main__carousel--item .socialmedia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(#1a1a1a)), url("https://images.pexels.com/photos/5081917/pexels-photo-5081917.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-image: linear-gradient(rgba(26, 26, 26, 0), #1a1a1a), url("https://images.pexels.com/photos/5081917/pexels-photo-5081917.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-position: center;
  background-size: cover;
}
.main__carousel--item .fbigads {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(#1a1a1a)), url("https://images.unsplash.com/photo-1555663173-830f65a7329a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80");
  background-image: linear-gradient(rgba(26, 26, 26, 0), #1a1a1a), url("https://images.unsplash.com/photo-1555663173-830f65a7329a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80");
  background-position: center;
  background-size: cover;
}
.main__carousel--item .google {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(#1a1a1a)), url("https://images.unsplash.com/photo-1607662314436-fae8c0794974?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z29vZ2xlfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-image: linear-gradient(rgba(26, 26, 26, 0), #1a1a1a), url("https://images.unsplash.com/photo-1607662314436-fae8c0794974?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z29vZ2xlfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
}
.main__carousel--item .img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0)), to(#1a1a1a)), url("https://images.unsplash.com/photo-1600096194534-95cf5ece04cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-image: linear-gradient(rgba(26, 26, 26, 0), #1a1a1a), url("https://images.unsplash.com/photo-1600096194534-95cf5ece04cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-size: cover;
}
.main__carousel--item__info {
  width: 100%;
  height: inherit;
  padding: calc(6vh + 60px) 8vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media only screen and (min-width: 992px) {
  .main__carousel--item__info {
    padding: 20vh 5vw;
  }
}
.main__carousel--item__info--title h1 {
  color: #fff;
}
.main__carousel--item__info--price {
  margin: 10px 0;
}
.main__carousel--item__info--price p {
  color: #fff;
}
.main__carousel--item__info--cta {
  max-width: 50%;
  height: auto;
  padding: 10px;
  background-color: #0E70ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  .main__carousel--item__info--cta {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .main__carousel--item__info--cta {
    max-width: 100%;
  }
}
.main__carousel--item__info--cta a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.main .carousel-next, .main .carousel-previous {
  background-color: #fff;
  position: absolute;
  z-index: 2;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .carousel-next i, .main .carousel-previous i {
  color: #1A1A1A;
}
.main .carousel-next:active, .main .carousel-previous:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.main .carousel-next {
  right: 8vw;
  bottom: calc(3vh + 60px);
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 992px) {
  .main .carousel-next {
    bottom: 3vh;
  }
}
.main .carousel-next i {
  font-size: 35px;
}
.main .carousel-previous {
  width: 30px;
  height: 30px;
  bottom: calc(3vh + 70px);
  right: calc(8vw + 60px);
}
@media only screen and (min-width: 992px) {
  .main .carousel-previous {
    bottom: 4vh;
  }
}
.main .carousel-previous i {
  font-size: 20px;
}
.main .carousel-indicator {
  position: absolute;
  left: 8vw;
  bottom: calc(3vh + 70px);
}
@media only screen and (min-width: 992px) {
  .main .carousel-indicator {
    bottom: 4vh;
  }
}
.main .carousel-indicator .glider-dot {
  background-color: #fff;
  opacity: 0.4;
}
.main .carousel-indicator .glider-dot.active {
  background-color: #fff;
  opacity: 1;
}