@font-face
{
    font-family: 'MadeTommy';
    src: url(../fonts/madetommy.otf);
}


:root
{
    --black: #1A1A1A;
    --wrapper: 10vw;
}

body
{
    margin: 0;
}

header
{
    background: white;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 6px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
}
}

header .logo
{
    width: 70px;
}
header img
{
    width: 70px;
}

 button
{
    width: 170px;
    height: 40px;
    border: 2px solid #1A1A1A;
    border-radius: 23px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: 250ms;
    cursor: pointer;
    margin-left: 40px;
}

button:hover
{
 color: white;
 background-color: var(--black);   
}

button img
{
    width: 18px;
    margin-right: 5px;
}

h1
{
    font-family: 'MadeTommy';
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}

h2, .h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
}

a
{
    text-decoration: none;
}

main
{
    margin-top: 100px;
    text-align: center;
    margin: var(--wrapper);
    max-width: 100%;
    height: 280px;
}

main img
{
    margin-top: 30px;
    width: 90vw;
    object-fit: cover;
}

.section__black-1
{
    height: 600px;
    background-color: var(--black);
    padding: 170px 0 140px;
    text-align: center;
}
.section__black-1 h1
{
   color: white;
   margin-bottom: 30px;
}
.section__black-1 h2
{
   color: white;
   margin: 0;
}

.section__black-1--text
{
    margin: 0 var(--wrapper);
}
.section__black-1--text h2
{
    margin-bottom: 90px;
}

.section__black-1--brands
{
    display: flex;
    margin: 0 var(--wrapper);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section__black-1--brands img
{
    margin: 10px 5px;
    width: 70px;
}

.section__black-1--figure
{
    margin-top: 25px;
    width: 300px;
}
.section__black-1--figure img
{
    text-align: center;
}

.benefits
{
    margin-top: 120px;
    margin: 150px var(--wrapper) 0;
}

.benefits__container-left 
{
    text-align: left;
    margin: 80px 0;
}
.benefits__container-right 
{
    text-align: right;
}

.benefits img
{
    height: 40px;
    object-fit: cover;
    margin-bottom: 5px;
}
.benefits p
{
    margin-top: 5px 0;
}

.section__black-2
{
    background-color: var(--black);
    text-align: center;
    margin-top: 180px;
    padding-bottom: 120px;
}

.section__black-2--container
{
    margin-bottom: 50px;
    
}

.section__black-2--img
{
    width: 300px;
    position: relative;
    top: -150px
}

.section__black-2--div
{
    margin-top: -80px;
}

.section__black-2--container-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.section__black-2--container-title h2
{
    margin: 0;
    margin-left: 10px;
    color: white;
}

.section__black-2--container-title img
{
    width: 40px;
    object-fit: cover;
}
.section__black-2 h1
{
    color: white;
    margin: 0 var(--wrapper);
    margin-bottom: 80px;
}
.section__black-2 p
{
    color: white;
    margin: 0 var(--wrapper);
}

.faqs
{
    text-align: center;
}

.faqs img
{
    position: relative;
    top: -120px;
    width: 300px;
}

.faqs h1
{
    position: relative;
    top: -100px;
    margin:  0 var(--wrapper);
}

.faqs h2
{
    color: var(--black);
    margin: 10px 0;
}

.faqs p
{
    color: #B3B3B3;
    margin: 0;
}

.faqs__container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -70px;
}

.faqs__container--item
{
    width: 250px;
    height: 100px;
    border: 2px solid #CBCBCB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

footer 
{
    background-color: var(--black);
    color: white;
    padding: 100px var(--wrapper) 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}