
@media screen and (min-width: 480px)
{

    .section__black-1 h2
    {
       margin-top: 50px;
    }

    .section__black-1--figure
    {
        margin-top: 35px
    }

    .benefits
    {
        margin: 140px var(--wrapper) 0
    }

    .section__black-2
    {
    margin-top: 220px;
    }

    .section__black-2--img
    {
    width: 350px;
    top: -170px
    }

}

@media screen and (min-width: 540px)
{
    main img
    {
        width: 80vw;
        position: absolute;
        right: 0;
    }

    .section__black-1 h1
    {
        margin-top: 130px;
    }

    .section__black-1--brands
    {
        margin: 10px var(--wrapper) 0;
    }

    .section__black-1--figure
    {
        margin-top: 60px;
    }

    .benefits
    {
        margin: 160px var(--wrapper) 0;
    }

    .section__black-2--img
    {
        width: 380px;
    }
    .faqs__container--item
    {
        width: 500px;
    }
}


@media screen and (min-width: 767px)
{
    main img
    {
        width: 630px;
    }
    .section__black-1
    {
        padding: 170px 0 200px;
    }
    .section__black-1 h2
    {
        margin-top: 130px;
    }
    .section__black-1 h2
    {
        margin-top: 19vw;
    }
    .section__black-1--figure
    {
        width: 360px;
    }
    .benefits
    {
        margin: 200px var(--wrapper) 0;
    }
    .section__black-2 p
    {
        padding: 0 100px;
    }
    .faqs img
    {
        top: -140px;
    width: 500px;
    }
    }
}