
h1, h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 32px;
    @include media (tablet) {
        font-size: 38px;
    }
}

h2 {
    font-size: 26px;
    @include media (tablet) {
        font-size: 32px;
    }
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h3, h4, p, a {
    font-family: 'Roboto', sans-serif;
}

p, a {
    font-size: 16px;
}

p {
    font-weight: 500;
    color: $gray-text;
    line-height: 2;
}